<ion-card class="disabledfeature">
  <ion-card-header text-center>'CARDHEADER'</ion-card-header>
  <ion-card-content>
    <form [formGroup]="planForm">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">'NAME'</ion-label>
          <ion-input formControlName="namePlan" type="text" placeholder="PLANNAME " [ngClass]="{ 'is-invalid': submitted && f.namePlan.errors }">
          </ion-input>
          <div *ngIf="!!submitted && !!f.namePlan.errors" class="invalid-feedback">
            <ion-text *ngIf="!!f.namePlan.errors.required">'NAME' is required</ion-text>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">'TYPE'</ion-label>
          <!-- <ion-input formControlName="typePlan" type="text" placeholder="PLANNAME " [ngClass]="{ 'is-invalid': submitted && f.name.errors }"> -->
            <ion-select formControlName="typePlan" placeholder="OTHER" type="text" interface="popover" [ngClass]="{ 'is-invalid': submitted && f.typePlan.errors }">
              <ion-select-option *ngFor="let typeOption of typeOptions" [value]='typeOption.value'>{{typeOption.name}}</ion-select-option>
            </ion-select>
          <div *ngIf="!!submitted && !!f.typePlan.errors" class="invalid-feedback">
            <ion-text *ngIf="!!f.typePlan.errors.required">'PLAN' is required</ion-text>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">'DATE'</ion-label>
          <ion-input formControlName="datePlan" type="date" [min]="min" max="2030-12-31"></ion-input>
        </ion-item>

      </ion-list>
      <ion-row class="signin">
        <ion-col>
          <ion-button (click)="submitData()" color="primary" shape="full" expand="block">'CREATEPLAN'</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card-content>
</ion-card>