<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <button style="background: transparent">
          <ion-icon style="color:white; font-size: 30px" src="../../assets/icon/basicmenu.svg"></ion-icon>
        </button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Sitting Plan v0.1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-list margin-bottom>
      <ion-item>
        <ion-label floating style="font-weight: bold">{{'TABLENAME' | translate}}: </ion-label>
        <ion-input formControlName="nameTable" autocapitalize="on" type="text"></ion-input>
      </ion-item>

      <ion-row justify-content-center align-items-center style="margin-top: 10px;">
        <ion-text position="stacked">{{'SEATS' | translate}}</ion-text>
      </ion-row>

      <div formArrayName="people">
        <section [formGroupName]="i" *ngFor="let person of formData.controls; let i = index" margin-bottom>
          <ion-item-group>
            <ion-item>
              <ion-label floating style="font-weight: bold">{{'SEAT' | translate}} {{ i + 1 }}:</ion-label>
              <ion-input type="text" maxlength="50" formControlName="name" autocapitalize="on"></ion-input>
            </ion-item>
          </ion-item-group>
        </section>
      </div>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="submitData(form.value)" color="primary" shape="full" expand="block" [disabled]="!form.valid">{{'UPDATETABLE' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>