<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [src]="p.src"></ion-icon>
              <ion-label>
                {{p.title | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item>
          <ion-icon slot="start" src="../assets/icon/languages.svg"></ion-icon>
          <ion-label>{{'LANGUAGE' | translate}}</ion-label>
          <ion-select [(ngModel)]="langSelected" interface="popover" (ionChange)="selectLanguage(langSelected)">
            <ion-select-option value="en">{{'ENGLISH' | translate}}</ion-select-option>
            <ion-select-option value="es">{{'SPANISH' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
