<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="home"></ion-back-button> -->
      <ion-menu-button>
      <button style="background: transparent">
        <ion-icon style="color:white; font-size: 30px" src = "../../assets/icon/basicmenu.svg"></ion-icon>
      </button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Sitting Plan v0.2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
<ion-text>{{ 'MYPLANS' | translate }}</ion-text>
  <ion-list text-center padding>
    <ion-button class="button button-block" style="margin: 10px" (click)="abrirModal()">{{ 'NEWPLAN' | translate }}</ion-button>
    <ion-item class="plan" *ngFor="let plan of plans">
        <ion-icon style="color: #006e8c; font-size: 35px; margin-right: 5%;" src="../../assets/icon/{{plan.type.toLowerCase()}}.svg"></ion-icon>
      <ion-label>
        <p>{{plan.type | translate}}: {{plan.name}}</p>
        <p>{{plan.date}}</p>
        <p *ngIf="plan.place !== ''">{{plan.place}}</p>
      </ion-label>
      <button style="background: transparent" (click)="selectPlan(plan)">
        <ion-icon style="color: gray; font-size: 35px" src="../../assets/icon/ios-arrow-forward.svg"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>