
.planHeader {
  padding: 10px 0px 10px 5px;
}
.plan {
  padding: 5px 0px 5px 0px;
}

ion-col {
  background: white;
  margin: 1px;
  // padding: 10px;
}
ion-fab-button {
  font-size: 30px;
}

.name{
  // width:120px;
  // color: #0079c1;
  // height: 2em; 
  // line-height: 1em; 
  // font-size: 20px;
  // font-weight: 400;
  text-overflow: ellipsis;
  margin-bottom: 12px;
  cursor: pointer;
  word-break: break-all;
  overflow:hidden;
  white-space: nowrap;
}
.name:hover{
  overflow: visible; 
  white-space: normal;
  height:auto;  /* just added this line */
}