<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <button style="background: transparent">
          <ion-icon style="color:white; font-size: 30px" src="../../assets/icon/basicmenu.svg"></ion-icon>
        </button>
      </ion-menu-button>
    </ion-buttons>
    <!-- <button style="background: transparent">
      <ion-icon style="color:white; font-size: 30px" src="../../assets/icon/arrowLeft.svg" (click)="returnHome()"></ion-icon>
    </button> -->
    <ion-title text-center>
      Sitting Plan v0.1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row style="justify-content: center;">
    <ion-text style="color: #006e8c; font-size: 25px; font-weight: bold; margin-right: 5px;">{{ plan.type | translate }}: </ion-text>
    <ion-text style="color: #006e8c; font-size: 25px;"> {{ plan.name }}</ion-text>
  </ion-row>
  <ion-text text-center style="font-size: 20px; display: block">{{ plan.date.slice(0,10).split('-').reverse().join('/') }}</ion-text>
  <ion-text text-center style="font-size: 20px; display: block">{{ plan.place }}</ion-text>
  <ion-button class="button button-block" style="margin: 15px" (click)="createTable()">{{ 'NEWTABLE' | translate }}</ion-button>
  <ion-card padding *ngIf="tables.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-chip *ngFor="let table of tables; let i = index" class="{{table.type.toLowerCase()}}Table" (click)="selectTable(table)">
            <ion-label style="font-size: xx-large;" *ngIf="table.name === ''">{{i + 1}}</ion-label>
            <ion-label style="font-size: large; text-decoration: underline" *ngIf="table.name !== ''">{{table.name}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>