.circleTable {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 2px solid #d39c2f;
    display: inline-grid;
    background: transparent;
}

.squareTable {
    height: 100px;
    width: 100px;
    border: 2px solid #d39c2f;
    border-radius: 0;
    display: inline-grid;
    background: transparent;
}

.rectangleTable {
    height: 60px;
    width: 120px;
    border-radius: 0%;
    border: 2px solid #d39c2f;
    display: inline-grid;
    background: transparent;
}

.titletrue {
    font-size: large;
    text-decoration: underline
}

.titlefalse {
    font-size: xx-large;
}